.button_global {
    -fx-background-color: #3d405b;
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-size: 17px;
    -fx-padding: 16px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}

.button_database {
    -fx-background-color: #3d405b;
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-padding: 6px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}
.button_confirm {
    -fx-background-color: #3d405b;
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}

.button_menu {
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-border-color: white;

}

.spinner {
    -fx-background-color: white;
    -fx-border-color: white;
}

.table-view {
    -fx-font-size: 15px;
}
.table-view .table-cell {
    -fx-alignment: CENTER;
}

.table-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

/*
#9E2A2B --> red
#81B29A  --> green
#6C8EBF  --> blue

*/

.table-view .column-header-background {
    -fx-background-color: #3d405b;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}

.root {
    -fx-font-family: "Inter";
}

#arrow {
    -fx-opacity: 0;
    -fx-translate-x: -10;
    -fx-text-fill: white;
}

.textinput_global {
    -fx-font-size: 17px;
    -fx-padding: 16px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}
